nav 
{
    background-color: rgb(242, 242, 242);
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: Arial;
    font-size: 120%;
    font-weight: bold;
    
}

ul
{
    list-style: circle;
}

ul li
{
  display: contents;
  align-items: center;
  justify-content: center;
  padding: 0px 80px;  
  text-decoration: none;
  
}

header
{
    background-color: rgb(215, 215, 215);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



footer
{
  background-color: rgb(242, 242, 242);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color:rgb(8, 8, 8);  
}

table, td, th {
  border: 1px solid;
}

table, td, th {
  width: 40%;
  border-collapse: collapse;
}
